Repository pi-hole/web, pull requests merged in 2023-11, with the labels that each got.

#2746 Add 404 error page
  error404.lp
  style/pi-hole.css
Labels: Discourse Feature Request, Pi-hole v6.0

#2798 Use class attribute only for styles
  scripts/pi-hole/js/settings.js
  settings-api.lp
  settings-dhcp.lp
  settings-dns.lp
  settings-dnsrecords.lp
  settings-privacy.lp
Labels: Pi-hole v6.0

#2802 Fix notification animation
  scripts/pi-hole/js/utils.js
  scripts/pi-hole/lua/header.lp
  scripts/vendor/bootstrap-notify.min.js
  style/vendor/animate.min.css
Labels: Pi-hole v6.0

#2794 Update nodejs to 20
  .github/workflows/test.yml
Labels: Pi-hole v6.0

#2799 Tweak All Settings page
  scripts/pi-hole/lua/settings_header.lp
  scripts/pi-hole/lua/sidebar.lp
  settings-all.lp
Labels: Pi-hole v6.0

#2756 Finalize renaming adlists -> lists
  groups-lists.lp
  index.lp
  scripts/pi-hole/js/groups-lists.js
  scripts/pi-hole/js/search.js
  style/themes/lcars.css
Labels: Bugfix, Pi-hole v6.0

#2803 Tweak processing/render time
  scripts/pi-hole/js/footer.js
  scripts/pi-hole/js/search.js
  scripts/pi-hole/js/settings-teleporter.js
Labels: Pi-hole v6.0

#2809 Fix notification icon and add details for Local DNS/CNAME records
  scripts/pi-hole/js/settings-dns-records.js
  scripts/pi-hole/js/utils.js
Labels: Pi-hole v6.0

#2810 Defer chartjs animation until they are in viewport
  scripts/pi-hole/js/index.js
  scripts/pi-hole/js/settings-system.js
  scripts/pi-hole/lua/header_authenticated.lp
  scripts/vendor/chartjs-plugin-deferred.min.js
Labels: Pi-hole v6.0

#2811 Fix chart legend flickering
  scripts/pi-hole/js/charts.js
Labels: Bugfix, Pi-hole v6.0

#2807 Add zooming on the dashboard's two main graphs
  scripts/pi-hole/js/index.js
  scripts/pi-hole/lua/header_authenticated.lp
  scripts/vendor/chartjs-plugin-zoom.min.js
  scripts/vendor/hammer.min.js
Labels: Pi-hole v6.0

#2812 Add tooltip explaining you can zoom and pan the graphs
  index.lp
  scripts/pi-hole/js/index.js
Labels: Pi-hole v6.0

#2813 Show Reset Zoom button when zoomed in
  index.lp
  scripts/pi-hole/js/index.js
  style/pi-hole.css
Labels: Pi-hole v6.0

#2795 Improve TOTP field
  login.lp
  scripts/pi-hole/js/login.js
Labels: Bugfix, Pi-hole v6.0

#2808 Fix error displaying when editing groups/clients/domains/lists
  groups.lp
  scripts/pi-hole/js/groups-clients.js
  scripts/pi-hole/js/groups-common.js
  scripts/pi-hole/js/groups-domains.js
  scripts/pi-hole/js/groups-lists.js
  scripts/pi-hole/js/groups.js
  scripts/pi-hole/js/utils.js
Labels: Bugfix, Pi-hole v6.0

#2820 Fix query logs "all time" option
  scripts/pi-hole/js/queries.js
Labels: Bugfix, Pi-hole v6.0

#2828 Fix inital date/time
  scripts/pi-hole/js/queries.js
Labels: Pi-hole v6.0

#2827 Use upstream names instead of IP when available
  scripts/pi-hole/js/index.js
Labels: Bugfix, Pi-hole v6.0

#2826 Prevent multi-login due to slow password hashing
  scripts/pi-hole/js/login.js
Labels: Pi-hole v6.0

#2825 Move dhcp.domain -> dns.domain
  settings-dhcp.lp
  settings-dns.lp
Labels: Pi-hole v6.0

#2806 Move comment about CNAME limitations to the CNAME box
  scripts/pi-hole/js/settings-dns-records.js
  scripts/pi-hole/js/settings.js
  settings-dnsrecords.lp
Labels: Bugfix, Pi-hole v6.0

#2815 Shorten animation delay
  scripts/pi-hole/js/index.js
  scripts/pi-hole/js/settings-system.js
Labels: Pi-hole v6.0

#2805 Add DHCP netmask field and nicely format API errors
  scripts/pi-hole/js/settings.js
  settings-dhcp.lp
Labels: Pi-hole v6.0

#2842 Allow open details only on normal rows
  scripts/pi-hole/js/queries.js
Labels: Pi-hole v6.0

#2839 Add word break for clients column to avoid horizontal scrollbar (v6)
  style/pi-hole.css
Labels: Pi-hole v6.0

#2832 Clear input fields after successfully adding new Clients, Domains or Lists
  scripts/pi-hole/js/groups-clients.js
  scripts/pi-hole/js/groups-domains.js
  scripts/pi-hole/js/groups-lists.js
  scripts/pi-hole/js/settings-dns-records.js
Labels: Pi-hole v6.0

#2840 Use row background colors in Query Log table
  scripts/pi-hole/js/queries.js
Labels: Pi-hole v6.0

#2835 Do not accept comma to separate regex
  groups-clients.lp
  groups-domains.lp
  groups-lists.lp
  groups.lp
  scripts/pi-hole/js/groups-domains.js
Labels: Bugfix, Pi-hole v6.0

#2843 Fix Upstreams Query Log links
  scripts/pi-hole/js/charts.js
  scripts/pi-hole/js/index.js
Labels: Bugfix, Pi-hole v6.0

#2844 Add hint about dnsmasq default lease time
  settings-dhcp.lp
Labels: Pi-hole v6.0

#2846 Fix possible race-collision
  scripts/pi-hole/js/groups-clients.js
  scripts/pi-hole/js/groups-common.js
  scripts/pi-hole/js/groups-domains.js
  scripts/pi-hole/js/groups-lists.js
Labels: Bugfix, Pi-hole v6.0

#2847 Devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  package-lock.json
  package.json
  scripts/pi-hole/js/queries.js
Labels: Pi-hole v6.0

#2853 Add HTTP 403 error page
  error403.lp
  style/themes/high-contrast-dark.css
Labels: Pi-hole v6.0

#2856 Fix deleting sessions via red trash icon
  scripts/pi-hole/js/settings-api.js
Labels: Pi-hole v6.0

#2857 Show Unicode domains (if domain is punycode-encoded)
  scripts/pi-hole/js/groups-domains.js
Labels: Pi-hole v6.0

#2851 Improve escaping on the web interface
  scripts/pi-hole/js/footer.js
  scripts/pi-hole/js/groups-clients.js
  scripts/pi-hole/js/groups-common.js
  scripts/pi-hole/js/groups-domains.js
  scripts/pi-hole/js/groups-lists.js
  scripts/pi-hole/js/groups.js
  scripts/pi-hole/js/index.js
  scripts/pi-hole/js/login.js
  scripts/pi-hole/js/settings-advanced.js
  scripts/pi-hole/js/settings-api.js
  scripts/pi-hole/js/settings-dns-records.js
  scripts/pi-hole/js/settings-system.js
  scripts/pi-hole/js/utils.js
Labels: Bugfix, Pi-hole v6.0

#2863 Remove test leftover
  scripts/pi-hole/js/settings-dns-records.js
Labels: Pi-hole v6.0

#2865 Emphasize whole row for current client in API session table
  scripts/pi-hole/js/settings-api.js
Labels: Pi-hole v6.0

#2852 Update datatables
  scripts/pi-hole/js/network.js
  scripts/pi-hole/lua/header.lp
  scripts/vendor/datatables.buttons.min.js
  scripts/vendor/datatables.min.js
  style/pi-hole.css
  style/vendor/datatables-pihole.min.css
  style/vendor/datatables.min.css
  style/vendor/datatables_extensions.min.css
Labels: Pi-hole v6.0

#2864 Local records: better layout to avoid text overlapping in smaller screens
  scripts/pi-hole/js/settings-dns-records.js
  settings-dnsrecords.lp
  style/pi-hole.css
Labels: Pi-hole v6.0

#2866 Continue tailing log after FTL restart
  scripts/pi-hole/js/taillog.js
Labels: Bugfix, Pi-hole v6.0

#2868 Remove extra <ul></ul>
  scripts/pi-hole/js/groups-domains.js
  scripts/pi-hole/js/groups-lists.js
Labels: Bugfix, Pi-hole v6.0

#2871 Store refresh intervals in a common place
  .github/workflows/codespell.yml
  scripts/pi-hole/js/footer.js
  scripts/pi-hole/js/index.js
  scripts/pi-hole/js/settings-system.js
  scripts/pi-hole/js/taillog.js
  scripts/pi-hole/js/utils.js
Labels: Pi-hole v6.0

#2872 Fix legend crossing out
  scripts/pi-hole/js/charts.js
Labels: Bugfix, Pi-hole v6.0

#2875 Fix a few invalid HTML elements generated by javascript
  error404.lp
  scripts/pi-hole/js/settings-advanced.js
  scripts/pi-hole/js/settings-teleporter.js
  settings-teleporter.lp
Labels: Pi-hole v6.0

#2876 Tweak lists user interface (specially icons)
  groups-lists.lp
  scripts/pi-hole/js/groups-lists.js
  style/pi-hole.css
Labels: Pi-hole v6.0

#2878 Add dnsmasq tail log formatting
  scripts/pi-hole/js/taillog.js
  style/pi-hole.css
Labels: Discourse Feature Request, Pi-hole v6.0

#2881 Query Log details: Fix overlapping text
  scripts/pi-hole/js/queries.js
  style/pi-hole.css
Labels: Bugfix, Pi-hole v6.0
