Repository pi-hole/web, pull requests merged in 2023-10, with the labels that each got.

#2720 Improve settings level select location
  scripts/pi-hole/lua/header_authenticated.lp
  scripts/pi-hole/lua/settings_header.lp
  settings-advanced.lp
  settings-api.lp
  settings-dhcp.lp
  settings-dns.lp
  settings-dnsrecords.lp
  settings-privacy.lp
  settings-system.lp
  settings-teleporter.lp
  style/pi-hole.css
  style/themes/default-light.css
Labels: v6

#2729 Fix HTTPS link on login page
  login.lp
  scripts/pi-hole/js/login.js
Labels: Bugfix, v6

#2730 Conditional HTTPS hint on login page
  login.lp
  scripts/pi-hole/js/login.js
Labels: v6

#2736 AdminLTE > web
  .github/ISSUE_TEMPLATE.md
  package.json
  scripts/pi-hole/js/footer.js
Labels: PR: Approval Required

#2740 Tweak/settings
  settings-api.lp
Labels: PR: Approval Required, Pi-hole v6.0

#2742 Fix AJAX JSON data
  scripts/pi-hole/js/footer.js
  scripts/pi-hole/js/groups-adlists.js
  scripts/pi-hole/js/groups-clients.js
  scripts/pi-hole/js/groups-domains.js
  scripts/pi-hole/js/groups.js
  scripts/pi-hole/js/login.js
  scripts/pi-hole/js/settings-api.js
  scripts/pi-hole/js/settings.js
  scripts/pi-hole/js/utils.js
Labels: Bugfix, Pi-hole v6.0

#2737 Fix update logic for custom branches by comparing hashes
  scripts/pi-hole/js/footer.js
Labels: PR: Approval Required, Pi-hole v6.0

#2744 Fix AJAX JSON data
  scripts/pi-hole/js/footer.js
  scripts/pi-hole/js/groups-adlists.js
  scripts/pi-hole/js/groups-clients.js
  scripts/pi-hole/js/groups-domains.js
  scripts/pi-hole/js/groups.js
  scripts/pi-hole/js/login.js
  scripts/pi-hole/js/settings-api.js
  scripts/pi-hole/js/settings-system.js
  scripts/pi-hole/js/settings.js
  scripts/pi-hole/js/utils.js
Labels: Bugfix, Pi-hole v6.0

#2745 Tweak and fix the update footer
  scripts/pi-hole/js/footer.js
Labels: PR: Approval Required, Pi-hole v6.0

#2751 Fix broken multi-delete of adlists
  scripts/pi-hole/js/groups-adlists.js
Labels: Bugfix

#2761 Do not show extra N/A when no ABP-style domains are in a list
  scripts/pi-hole/js/groups-adlists.js
Labels: Bugfix, Pi-hole v6.0

#2764 Do not load `default-light.css` file when using Auto theme, if dark mode is preferred
  style/themes/default-auto.css
Labels: Pi-hole v6.0

#2772 Always point "Pi-hole" top bar link to `pihole.webhome`
  scripts/pi-hole/lua/header_authenticated.lp
Labels: Pi-hole v6.0

#2769 Show active instead of clients-ever-seen on the dashboard
  index.lp
  scripts/pi-hole/js/index.js
Labels: Bugfix, Pi-hole v6.0

#2707 Add ability to specify domains, lists, clients and group names as arrays
  scripts/pi-hole/js/groups-adlists.js
  scripts/pi-hole/js/groups-clients.js
  scripts/pi-hole/js/groups-domains.js
  scripts/pi-hole/js/groups.js
  scripts/pi-hole/js/utils.js
Labels: Pi-hole v6.0

#2757 Add "Delay" column to Query Log
  queries.lp
  scripts/pi-hole/js/queries.js
  style/pi-hole.css
Labels: Discourse Feature Request, Pi-hole v6.0

#2777 Fix sorting on Settings -> Local DNS Records table
  scripts/pi-hole/js/settings-dns-records.js
Labels: Bugfix, Pi-hole v6.0

#2738 Restore Teleporter functionality
  scripts/pi-hole/js/settings-teleporter.js
  settings-teleporter.lp
Labels: Bugfix, Pi-hole v6.0

#2785 temp.limit needs to be data-type="integer"
  settings-api.lp
Labels: Pi-hole v6.0

#2765 Fix mass-deletion of sessions on the settings -> API page
  scripts/pi-hole/js/settings-api.js
Labels: Bugfix, Pi-hole v6.0

#2781 Update chart.js to 4.4.0
  scripts/pi-hole/js/charts.js
  scripts/pi-hole/js/index.js
  scripts/pi-hole/lua/header_authenticated.lp
  scripts/vendor/chart.min.js
  scripts/vendor/chart.umd.js.map
  scripts/vendor/chart.umd.min.js
  scripts/vendor/chartjs-adapter-moment.js
Labels: Pi-hole v6.0

#2786 Fix how Bootstrap-Notfy is used by Pi-hole
  queries.lp
  scripts/pi-hole/js/settings-dns-records.js
  scripts/pi-hole/js/utils.js
Labels: Bugfix, Pi-hole v6.0

#2787 Mark variables set by environment variable as read only in the web interface
  scripts/pi-hole/js/settings-advanced.js
  scripts/pi-hole/js/settings-dns-records.js
  scripts/pi-hole/js/settings-dns.js
  scripts/pi-hole/js/settings.js
  settings-api.lp
  settings-dhcp.lp
  settings-dns.lp
  settings-dnsrecords.lp
  settings-privacy.lp
  settings-system.lp
Labels: Pi-hole v6.0

#2793 Add app password support
  scripts/pi-hole/js/settings-api.js
  settings-api.lp
  style/pi-hole.css
Labels: Pi-hole v6.0

#2791 Nicely format error toasts
  scripts/pi-hole/js/utils.js
Labels: Pi-hole v6.0

#2783 Fix TOTP input field not being shown when enabled
  scripts/pi-hole/js/login.js
Labels: Bugfix, Pi-hole v6.0
