Repository pi-hole/web, pull requests merged in 2024-01, with the labels that each got.

#2919 Add descriptions to DHCP metrics on the settings page
  settings-system.lp
Labels: Pi-hole v6.0

#2921 Move the title attribute of the DNS metrics to the table row
  settings-system.lp
Labels: Pi-hole v6.0

#2927 Explicitly set content encoding
  scripts/pi-hole/js/groups-common.js
Labels: Bugfix, Pi-hole v6.0

#2917 Ensure blocking mode timer is started even when set via a third-party API call
  scripts/pi-hole/js/footer.js
Labels: Bugfix, Pi-hole v6.0

#2858 Add support for legacy Teleporter archives
  scripts/pi-hole/js/settings-teleporter.js
  settings-teleporter.lp
Labels: Discourse Feature Request, Pi-hole v6.0

#2895 Add query log handling of SPECIAL_DOMAIN
  scripts/pi-hole/js/queries.js
Labels: Pi-hole v6.0

#2931 Use replaceAll to ensure all newlines are converted to HTML line breaks
  scripts/pi-hole/js/settings-advanced.js
Labels: Bugfix, Pi-hole v6.0

#2922 Fix group editing
  scripts/pi-hole/js/groups.js
Labels: Bugfix, Pi-hole v6.0

#2934 Add regex hint to domain/client exclusion box
  settings-api.lp
Labels: Pi-hole v6.0

#2941 Fix edge-case interpretation of DHCP lease expiration field
  scripts/pi-hole/js/utils.js
Labels: Bugfix, Pi-hole v6.0
