Repository pi-hole/web, pull requests merged in 2024-09, with the labels that each got.

#3124 Remove redirectin based on user-defined input
  scripts/pi-hole/js/login.js
Labels: Security, Pi-hole v6.0

#3126 chore: Update target-branch in dependabot.yml to development
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/sync-back-to-dev.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
Labels: internal

#3109 Rewrite the README to reflect the v6 changes
  README.md
Labels: Pi-hole v6.0

#3139 Replace temperature display by query frequency
  scripts/pi-hole/js/footer.js
  scripts/pi-hole/js/index.js
  scripts/pi-hole/lua/sidebar.lp
Labels: Pi-hole v6.0

#3143 Add interface information
  .codespellignore
  interfaces.lp
  package-lock.json
  package.json
  scripts/pi-hole/js/interfaces.js
  scripts/pi-hole/js/settings-system.js
  scripts/pi-hole/lua/header.lp
  scripts/pi-hole/lua/header_authenticated.lp
  scripts/pi-hole/lua/sidebar.lp
  scripts/vendor/bstreeview.min.js
  settings-system.lp
  style/pi-hole.css
  style/vendor/bstreeview.min.css
Labels: Pi-hole v6.0

#3149 Query Log: Show X-icon instead of reply time if no reply was received
  scripts/pi-hole/js/queries.js
Labels: Pi-hole v6.0

#3148 Add domains/regex tooltip on the sidebar numbers
  scripts/pi-hole/js/footer.js
Labels: Discourse Feature Request, Pi-hole v6.0

#3153 Keep the sub-menu open when visiting the Interfaces page
  scripts/pi-hole/lua/sidebar.lp
Labels: Pi-hole v6.0

#3151 Remove temperature settings forgotten after #3139
  settings-api.lp
Labels: Pi-hole v6.0
